node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

/data/config.json
/data/layers.json
/data/modals.json
/data/pages.json
/data/settings.json
/data/stations.json
/data/assets/*

# macOS
.DS_Store
