node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

/data/about/
/data/config.json
/data/layers.json
/data/modals.*
!/data/modals.example.json
/data/pages.*
!/data/pages.example.json
/data/settings.*
/data/stations.*
/data/assets/*
/data*

# macOS
.DS_Store
