on:
  push:
    branches:
      - main
  pull_request:

jobs:
  expo-doctor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: '20.x'
      - name: Run expo-doctor
        run: npx expo-doctor@latest
